.form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: $dark-blue;
    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0 20px 0;
    color: $white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 100;

    @media (max-width: $tablet-width) {
        transform: translate(-50%, -50%);
        width: calc(100% - 30px);
        right: auto;
        left: 50%;
        max-width: 272px;
    }

    &__label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    &__button {
        margin-top: 16px;
    }
}

.cl-btn {
    cursor: pointer;
    display: block;
    position: relative;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;

    &::before {
        content: "";
        height: 2px;
        width: 24px;
        position: absolute;
        top: 11px;
        left: 0;
        background-color: $white;
        border-radius: 2px;
        transform: rotate(45deg);
        transition: all 0.3s ease-in;
    }

    &::after {
        content: "";
        height: 2px;
        width: 24px;
        position: absolute;
        top: 11px;
        left: 0;
        background-color: $white;
        border-radius: 2px;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in;
    }

    &:hover {
        &::after {
            transform: rotate(45deg);
            background-color: $light-orange;
        }
    }

    &:hover {
        &::before {
            transform: rotate(-45deg);
            background-color: $light-orange;
        }
    }
}

.task-row {
    margin-bottom: 24px;

    &__title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    &__input {
        color: $dark-grey;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        border: 1px solid $white;
        box-sizing: border-box;
        padding: 0 6px;
        height: 30px;
        width: 100%;
        cursor: pointer;
    }
}